<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
        <li class="sign-out"><a href="#" style="color: black;">sign-out</a></li>
    </ul>
  </div>
</nav>

<!-- this is used as imports form the parent child class -->
<!-- this is a parent for everything  -->
<router-outlet></router-outlet>
