<div class="heading">
  <h1>login sign up page</h1>
</div>
<!-- designing a main login form -->
<div class="login-sign-up-container">
  <!-- register-form -->
  <form *ngIf="activeForm === 'register'">
    <h2>REGISTER</h2>
    <div class="form-group">
      <input type="text" name="name" [(ngModel)]="registerObj.name" placeholder="name">
    </div>
    <div class="form-group">
      <input type="text" name="email" [(ngModel)]="registerObj.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" name="Password" [(ngModel)]="registerObj.password" placeholder="Password">
    </div>
    <button type="submit" (click)="registerForm()">Register</button>
    <p (click)="toggleForm('login')">
      Already have an account ? <span class="highlighted">Login</span>
    </p>
  </form>
  <!-- Login-form -->
  <form *ngIf="activeForm === 'login'">
    <h2>LOGIN</h2>
    <div class="form-group">
      <input type="text" name="email" [(ngModel)]="loginObj.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" name="Password"  [(ngModel)]="loginObj.password" placeholder="Password">
    </div>
    <button type="submit" (click)="loginForm()">LOGIN</button>
    <p (click)="toggleForm('register')">
      Don't have an account ? <span class="highlighted">Register</span>
    </p>
  </form>
</div>
